<div class="well detail">
  <div class="panel panel-default" style="background-image: url('{{post.image}}')">

        {{#link-to 'post' post.id}}<h1>{{post.title}} by {{post.author}}</h1>
        {{/link-to}}
</div>
</div>
