<div class= "container">
  <header class= "jumbotron">
    <p> Hot Ice</p>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'index'}}Home{{/link-to}}<br />
    {{#link-to 'contact'}} Contact Us.{{/link-to}}<br />
    {{#link-to 'about'}} About us.{{/link-to}}<
  </footer>
</div>
