<div class= "container">
  <header class= "jumbotron">
    <h1> Hot Ice</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}} Contact Us.{{/link-to}}<br />
    {{#link-to 'about'}} About us.{{/link-to}}
  </footer>
</div>
