<h1>The latest</h1>

  {{new-post saveNewPost="saveNewPost"}}

  <ul>
    {{#each model.posts as |post|}}
      <li>{{post-tile post=post saveUpdatePost="saveUpdatePost" destroyPost="destroyPost"}}</li>
    {{/each}}
  </ul>
